<div id="print-div" class="not-for-screen">

    <div class="col-sm-12">
        <h3>{{'profile'| translate}}</h3>
    </div>    
    <table class="dhis2-list-table-striped dhis2-table-hover">
        <tbody>
            <tr ng-repeat="attribute in selectedTei.attributes" ng-show="attribute.show">
                <td class="col-sm-6">
                    {{attribute.displayName}}
                </td>
                <td class="col-sm-6">
                    <input type="text" value={{attribute.value}} class="form-control">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-sm-12">
        <h3>{{'enrollment'| translate}}</h3>
    </div>    
    <table class="dhis2-list-table-striped dhis2-table-hover">
        <tbody>
            <tr>
                <td class="col-sm-6">
                    {{'enrolling_orgunit'| translate}}
                </td>
                <td class="col-sm-6">
                    <input type="text" value={{selectedEnrollment.orgUnitName}} class="form-control">
                </td>
            </tr>
            <tr>
                <td class="col-sm-6">
                    {{selectedProgram.enrollmentDateLabel}}
                </td>
                <td class="col-sm-6">
                    <input type="text" value= {{selectedEnrollment.enrollmentDate}} class="form-control">
                </td>
            </tr>
            <tr>
                <td class="col-sm-6">
                    {{selectedProgram.incidentDateLabel}}
                </td>
                <td class="col-sm-6">
                    <input type="text" value={{selectedEnrollment.incidentDate}} class="form-control">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-sm-12">
        <h3>{{'dataentry'| translate}}</h3>
        <div ng-include="'components/dataentry/main-dataentry-form.html'"></div>
    </div>
</div>



<div id="printJS-form" class="not-for-screen">
<span class="boxHeaderslip">Visit Details</span>
<table class="box">
<tbody>
<tr>
<td><strong>Name:</strong></td>
<td>demo test</td>
</tr>
<tr>
<td><strong>Patient ID:</strong></td>
<td>MAKL515125437311816-7</td>
</tr>
<tr>
<td><strong>Age:</strong></td>
<td>25 years</td>
</tr>
<tr>
<td><strong>Gender:</strong></td>
<td>Male</td>
</tr>
<tr>
<td><strong>Payment Category:</strong></td>
<td>Paying</td>
</tr>
<tr>
<td><strong>Treating Doctor:</strong></td>
<td>test doctor</td>
</tr>
</tbody>
</table>
<table class="box">
<tbody>
<tr>
<td><strong>History of Present Illness:</strong></td>
<td></td>
</tr>
<tr>
<td><strong>Symptoms:</strong></td>
<td>Joint Pain</td>
</tr>
<tr>
<td><strong>Physical Examination:</strong></td>
<td>General Apperance</td>
</tr>
<tr>
<td><strong>Signs:</strong></td>
<td></td>
</tr>
<tr>
<td><strong>Provisional Diagnosis::</strong></td>
<td>Malaria</td>
</tr>
<tr>
<td><strong>Procedure:</strong></td>
<td></td>
</tr>
<tr>
<td><strong>Investigation:</strong></td>
<td></td>
</tr>
</tbody>
</table>
<table class="box">
<tbody>
<tr align="center">
<th><strong>S.No</strong></th>
<th><strong>Drug</strong></th>
<th><strong>Formulation</strong></th>
<th><strong>Frequency</strong></th>
<th><strong>No of Days</strong></th>
<th><strong>Comments</strong></th>
</tr>
<tr align="center">
<td>1</td>
<td>Paracetamol</td>
<td>Tab -500mg</td>
<td>QD</td>
<td>23</td>
<td></td>
</tr>
</tbody>
</table>
<table class="box">
<tbody>
<tr>
<td><strong>Other Instructions:</strong></td>
<td></td>
<td></td>
</tr>
<tr>
<td><strong>Internal Referral:</strong></td>
<td></td>
<td></td>
</tr>
<tr>
<td><strong>External Referral:</strong></td>
<td></td>
<td></td>
</tr>
<tr>
<td><strong>OPD Visit Outcome:</strong></td>
<td>Follow-up</td>
<td>09/12/2015</td>
</tr>
</tbody>
</table>
</div>