<style>
table thead tr th {
	text-align:center;
}
</style>
<span id="showLeftBar" class="hideInPrint">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar">
    
    <d2-left-bar></d2-left-bar>
          
    <div id="orgUnitTree">
        <ul>
        </ul>
    </div>
    
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/>
    
    <div class="small-horizontal-spacing" ng-if="!treeLoaded">
        {{'loading_tree'| translate}}
    </div>
</div>


<div id="mainPage">
    <div style="width: 90%;" class="row col-sm-12">        
      
        <h2>AES District Lab Queue(size : {{queueEvents.length}})</h2>

    <table class="table table-striped dhis2-table-hover table-bordered ng-scope">
       <thead>
        <tr>
            <th rowspan="2">S No</th>
            <th rowspan="2">Registeration date</th>
            <th rowspan="2">Registering unit</th>
            <th rowspan="2">Aes Id</th>
            <th rowspan="2">Nimhans Aes Id</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Age</th>
            <th rowspan="1" colspan="15">Lab Results</th>
        </tr>
		<tr>
			<th rowspan="2" colspan="1">CSF collected</th>
			<th rowspan="2" colspan="1">CSF sent to Apex lab</th>
			<th rowspan="2" colspan="1">Serum collected</th>
			<th rowspan="2" colspan="1">Serum sent to Apex lab</th>
			<th rowspan="2" colspan="1">Whole blood collected</th>
			<th rowspan="2" colspan="1">Whole Blood sent to Apex lab</th>
			<th rowspan="1" colspan="1">CSF WBC Count</th>
			<th rowspan="1" colspan="1">CSF-JE IgM</th>
			<th rowspan="1" colspan="1">CSF-Glucose</th>
			<th rowspan="1" colspan="1">CSF-Protein</th>
			<th rowspan="1" colspan="1">Serum-JE IgM</th>
			<th rowspan="1" colspan="1">Dengue IgM ELISA</th>
			<th rowspan="1" colspan="1">Dengue NS1 rapid</th>
			<th rowspan="1" colspan="1">Dengue NS1 ELISA</th>
			<th rowspan="1" colspan="1">Scrub typhus IgM ELISA</th>
		</tr>
        </thead>

        <tbody>
            <tr ng-class="{'red': ev.clicked, '': !ev.clicked}"
                ng-click="goToDashboard(ev)" ng-repeat="ev in queueEvents">
                <td>{{$index+1}}</td>
				<td>{{ev.date}}</td>
                <td>{{ev.district}}</td>
                <td>{{ev.aesid}}</td>
                <td>{{ev.nid}}</td>
                <td>{{ev.name}}</td>
                <td>{{ev.age}}</td>
                <td ng-if="ev.csfc === 'No'" style="color:red">{{ev.csfc}}</td>
                <td ng-if="ev.csfc === 'Yes'">{{ev.csfc}}</td>
				<td ng-if="ev.csfs === 'No'" style="color:red">{{ev.csfs}}</td>
                <td ng-if="ev.csfs === 'Yes'">{{ev.csfs}}</td>
                <td ng-if="ev.serumc === 'No'" style="color:red">{{ev.serumc}}</td>
                <td ng-if="ev.serumc === 'Yes'">{{ev.serumc}}</td>
                <td ng-if="ev.serums === 'No'" style="color:red">{{ev.serums}}</td>
                <td ng-if="ev.serums === 'Yes'">{{ev.serums}}</td>
                <td ng-if="ev.wbc === 'No'" style="color:red">{{ev.wbc}}</td>
                <td ng-if="ev.wbc === 'Yes'">{{ev.wbc}}</td>
                <td ng-if="ev.wbs === 'No'" style="color:red">{{ev.wbs}}</td>
                <td ng-if="ev.wbs === 'Yes'">{{ev.wbs}}</td>
                <td>{{ev.csfwbcc}}</td>
                <td>{{ev.csfje}}</td>
                <td>{{ev.csfg}}</td>
                <td>{{ev.csfp}}</td>
                <td>{{ev.serumje}}</td>
                <td>{{ev.serumige}}</td>
                <td>{{ev.dnsr}}</td>
                <td>{{ev.dnse}}</td>
                <td>{{ev.serumstie}}</td>

            </tr>
        </tbody>
    </table>


    </div>
</div>
