<div ng-if="data">
    <div class="tei-list-scroll">
        <table class="table table-striped dhis2-table-hover table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="gridColumn in gridColumns| filter:{show: true}" class='mouse-pointer' ng-click="sortGrid(gridColumn)">
                        <!-- sort icon begins -->
                        <span ng-hide="gridColumn.showFilter" class="bold pointer" ng-attr-title="{{'sort'| translate}}"
                            class="fa fa-sort">
                            <span class="fa-stack">
                                <span ng-class="{true: 'red'} [sortColumn.id === gridColumn.id && sortColumn.direction === 'asc']"><i
                                        class="fa fa-sort-asc fa-stack-1x"></i></span>
                                <span ng-class="{true: 'red'} [sortColumn.id === gridColumn.id && sortColumn.direction === 'desc']"><i
                                        class="fa fa-sort-desc fa-stack-1x"></i></span>
                            </span>
                            {{gridColumn.displayName}}
                        </span>
                        <!-- sort icon ends -->
                    </th>
                    <th><b>Custom Data Store</b></th>
                </tr>
            </thead>
            <tbody id="list">
                <tr ng-repeat="tei in data.rows.own" ng-class="{true: 'inactive-tei'} [tei.inactive]" >
                    <td id="{{tei.id}}" ng-click="onTeiClickedInternal(tei)" ng-repeat="gridColumn in gridColumns| filter:{show: true}" ng-attr-title="{{mainTei.trackedEntityInstance ? 'select' : 'go_to_dashboard'| translate}}">
                        <span ng-switch="gridColumn.valueType">
                            <span ng-switch-when="BOOLEAN">
                                <span ng-if="tei[gridColumn.id] === 'true'">{{'yes'| translate}}</span>
                                <span ng-if="tei[gridColumn.id] === 'false'">{{ 'no' | translate}}</span>
                            </span>
                            <span ng-switch-when="TRUE_ONLY">
                                <span ng-if="tei[gridColumn.id] === 'true'"><i class="fa fa-check"></i></span>
                            </span>
                            <span ng-switch-when="ORGANISATION_UNIT">
                                {{tei[gridColumn.id] && orgUnitNames[tei[gridColumn.id]] ?
                                orgUnitNames[tei[gridColumn.id]] : tei[gridColumn.id]}}
                            </span>
                            <span ng-switch-when="IMAGE">
                                <div ng-if="tei[gridColumn.id]">
                                    <d2-image-in-list d2-tei="tei" d2-attribute-id="gridColumn.id">
                                    </d2-image-in-list>
                                </div>
                            </span>
                            <span ng-switch-default>{{tei[gridColumn.id]}}</span>
                        </span>
                    </td>
                    <td class="noAction">
                            <button class="meddelanden" id="showPopUp" data-toggle="popover" ng-click="showPopUp(tei.id,tei.iBc2wcKg2Ba)">
                            <span class="glyphicon glyphicon-star"></span></button>
                    </td>
                </tr>
                <tr ng-repeat="tei in data.rows.other" ng-click="onTeiClickedInternal(tei)" ng-class="{true: 'inactive-tei'} [tei.inactive]"
                    ng-attr-title="{{mainTei.trackedEntityInstance ? 'select' : 'go_to_dashboard'| translate}}">
                    <td ng-repeat="gridColumn in gridColumns| filter:{show: true}">
                        <span ng-switch="gridColumn.valueType">
                            <span ng-switch-when="BOOLEAN">
                                <span ng-if="tei[gridColumn.id] === 'true'">{{'yes'| translate}}</span>
                                <span ng-if="tei[gridColumn.id] === 'false'">{{ 'no' | translate}}</span>
                            </span>
                            <span ng-switch-when="TRUE_ONLY">
                                <span ng-if="tei[gridColumn.id] === 'true'"><i class="fa fa-check"></i></span>
                            </span>
                            <span ng-switch-when="ORGANISATION_UNIT">
                                {{tei[gridColumn.id] && orgUnitNames[tei[gridColumn.id]] ?
                                orgUnitNames[tei[gridColumn.id]] : tei[gridColumn.id]}}
                            </span>
                            <span ng-switch-default>{{tei[gridColumn.id]}}</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="hideInPrint" ng-if="pager">
        <serverside-paginator></serverside-paginator>
    </div>
</div>

<div id="myModal" class="modal">
    <div id="mainPage">
        <div class="modal-content">
                <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Assign Data Elements</h2>
                 </div>
                <div>
                    <div class="form-group">
                        {{organismName}}: <label style="color:red" id="displayresponse"></label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default" id = "delete-data-store" data-ng-click="deleteDataStore( tei, organismName )">{{'delete'| translate}}</button>
                    </div>
                </div>

                <div class="modal-body">
                <form >

                    <div class="form-group">
                      <label for="name">Organism name:</label>
                      <input type="text" ng-model="organism" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Sample type:</label>
                      <select class="form-control" id="sampleType" ng-model='sampleType' ng-options='os.name for os in optionSetValues' multiple>
                       </select>
                    </div>
                    <div class="form-group">
                            <label for="pwd">Disk Diffusion</label>
                            <select class="form-control" id="diskDiff" ng-model='diskDiff' ng-options="deval.name for deval in dataElementName['Disk Diffusion']" multiple></select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">MIC</label>
                        <select class="form-control" id="mic" ng-model='mic' ng-options="deval.name for deval in dataElementName['MIC']" multiple></select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Results</label>
                        <select class="form-control" id="result" ng-model='result' ng-options="deval.name for deval in dataElementName['Results']" multiple></select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Special tests - Genotypic tests</label>
                        <select class="form-control" id="stGeno" ng-model='stGeno' ng-options="deval.name for deval in dataElementName['Special tests - Genotypic tests']" multiple></select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Special tests - Phenotypic tests</label>
                        <select class="form-control" id="stPeno" ng-model='stPeno' ng-options="deval.name for deval in dataElementName['Special tests - Phenotypic tests']" multiple></select>
                    </div>
                    <button type="button" data-ng-click="postDeData()" class="btn btn-default">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" data-ng-click="closeWindow()">{{'close'| translate}}</button>
                  </form>
              </div>
        </div>
    </div>
</div>