<div class="modal-header page ">
    <h3>{{'Assign Data Elements'| translate}}</h3>
</div>
<div class="modal-body page scroll" style="height:700px">
    <button id='add-tab' class="form-control" data-ng-click="addTab()">Add tab</button>
    <div class="row">
        <div class="col-md-20">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading" id="divhead">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Panel1" data-toggle="tab" target='_blank'>Panel 1</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <display-form class="tab-content" id="divcontent" options="dirOptions">
                        <div class="tab-pane fade in active" id="Panel1">
                            <form name="Panel1" id="Panel1">
                                <div class="form-group">
                                    <label for="name" style="font-size: 15px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;">Organism
                                        name:&nbsp;<label style="color:red" id="displayresponse"></label>&nbsp;
                                        <button class="btn btn-default" id="delete-data-store" data-ng-click="deleteDataStore( tei, organismName )">{{'delete'|translate}}</button></label>
                                    <input type="text" ng-model="organismName" class="form-control" readonly>
                                </div>
                                <div class="form-group" ng-repeat="dename in deNameValue">
                                    <div ng-switch="dename">
                                        <div ng-switch-when="Sample_type">
                                            <select ng-model="optionValue[option.name]" class="form-control" ng-options="option.name for option in dataElementName[dename].de">
                                                <option value="" disabled selected>Select Sample Type</option>
                                            </select>
                                        </div>
                                        <div ng-switch-when="MIC" class="panel panel-default" style="height: 250px">
                                            <div class="panel-heading pheading">{{dataElementName[dename].name}}</div>
                                            <div class="panel-body pbody" id="{{dename}}">
                                                <input type="text" id="{{dename}}" ng-keyup="searchtd(this)" class="form-control"
                                                    placeholder="Search for names.." title="Type in a name" style="width: 40%;float: left;">
                                                <input type="button" class="form-control" value="Unselect"
                                                    data-ng-click="unselectAllcheckbox(this,'MIC')" style="width: 15%;float: right;" />
                                                <input type="button" class="form-control" value="Select All"
                                                    data-ng-click="selectAllcheckbox(this,'MIC')" style="width: 15%;float: right;margin: 6px;" />
                                                <div style="height: 160px; overflow-y: scroll; width: 100%;">
                                                    <div style="height: 160px; overflow-y: scroll;">
                                                        <table class="deDisplay" id="MIC">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>Susceptible</th>
                                                                <th>Intermediate High</th>
                                                                <th>Intermediate Low</th>
                                                                <th>Resistant</th>
                                                            </tr>
                                                            <tr ng-repeat="deval in dataElementName[dename].de">
                                                                <td><input type="checkbox" name="checkbox" value="{{deval}}"
                                                                        ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" style="width: 13px;"></td>
                                                                <td>{{deval.name}}</td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox1Panel1" id="1"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox2Panel1" id="2"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox3Panel1" id="3"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox4Panel1" id="4"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="Disk_Diffusion" class="panel panel-default" style="height: 250px">
                                            <div class="panel-heading pheading">{{dataElementName[dename].name}}</div>
                                            <div class="panel-body pbody" id="{{dename}}">
                                                <input type="text" id="{{dename}}" ng-keyup="searchtd(this)" class="form-control"
                                                    placeholder="Search for names.." title="Type in a name" style="width: 40%;float: left;">
                                                <input type="button" class="form-control" value="Unselect"
                                                    data-ng-click="unselectAllcheckbox(this,'MIC')" style="width: 15%;float: right;" />
                                                <input type="button" class="form-control" value="Select All"
                                                    data-ng-click="selectAllcheckbox(this,'MIC')" style="width: 15%;float: right;margin: 6px;" />
                                                <div style="height: 160px; overflow-y: scroll; width: 100%;">
                                                    <div style="height: 160px; overflow-y: scroll;">
                                                        <table class="deDisplay" id="MIC">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>Susceptible</th>
                                                                <th>Intermediate High</th>
                                                                <th>Intermediate Low</th>
                                                                <th>Resistant</th>
                                                            </tr>
                                                            <tr ng-repeat="deval in dataElementName[dename].de">
                                                                <td><input type="checkbox" name="checkbox" value="{{deval}}"
                                                                        ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" style="width: 13px;"></td>
                                                                <td>{{deval.name}}</td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox1Panel1" id="1"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox2Panel1" id="2"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox3Panel1" id="3"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                                <td><input type="text" name="textbox" ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                        class="form-control" ng-model="inBox4Panel1" id="4"
                                                                        ng-attr-deData="{{deval}}" disabled></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-default class="panel panel-default" style="height: 250px">
                                            <div class="panel-heading pheading">{{dataElementName[dename].name}}</div>
                                            <div class="panel-body pbody" id="{{dename}}">
                                                <input type="text" id="{{dename}}" ng-keyup="searchtd(this)" class="form-control"
                                                    placeholder="Search for names.." title="Type in a name" style="width: 40%;float: left;">
                                                <input type="button" class="form-control" value="Unselect"
                                                    data-ng-click="unselectAllcheckbox(this,'Sample type')" style="width: 15%;float: right;" />
                                                <input type="button" class="form-control" value="Select All"
                                                    data-ng-click="selectAllcheckbox(this,'Sample type')" style="width: 15%;float: right;margin: 6px;" />
                                                <div style="height: 160px; overflow-y: scroll; width: 100%;">
                                                    <table class="deDisplay" id="Sample_type">
                                                        <tr ng-repeat="deval in dataElementName[dename].de">
                                                            <td><input type="checkbox" name="checkbox" value="{{deval}}"
                                                                    ng-class="createClass(deval.key,deval.id,'Panel1')"
                                                                    class="form-control" style="width: 13px;"></td>
                                                            <td>{{deval.name}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" value="Submit" class="btn btn-default" style="display:initial" />
                                    <button type="button" id="update" data-ng-click="postDeUpdatedData()" class="btn btn-default"
                                        style="display:none">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="button" value="Close" class="btn btn-default" data-ng-click="closeWindow()" />
                                </div>
                            </form>
                        </div>
                    </display-form>
                </div>
            </div>
        </div>
    </div>
</div>