
<div class="panel panel-info"  ng-controller="EventToTEIAssociations">

    <div class="panel-heading handle bold" ng-if="isAssociation">
        {{associationWidget.title| translate}}

         <span class="nav-pills" ng-if="selectedEvent">
            | <a href ng-click="showHomeScreen()"  title="{{'add_association'| translate}}">{{'add'| translate}}</a>
        </span>
        <span class="nav-pills" ng-if="selectedEvent && selectedEvent.eventMembers.length > 0">
            | <label>{{selectedEvent.eventMembers.length}}  {{'associations_found'| translate}}</label>
        </span>
        <span class="pull-right widget-link">
            <a class="small-horizonal-spacing" href ng-click="expandCollapse(associationWidget)">
                <span ng-show="associationWidget.expand"><i class="fa fa-chevron-up" title="{{collapseLabel}}"></i></span>
                <span ng-show="!associationWidget.expand"><i class="fa fa-chevron-down" title="{{expandLabel}}"></i></span>
            </a>
            <a class="small-horizonal-spacing" href ng-click="removeWidget(associationWidget)" title="{{removeLabel}}"><i class="fa fa-times-circle"></i></a>
        </span>
    </div>
    <div ng-show="associationWidget.expand" class="panel-body dashboard-element-container" ng-if="isAssociation">

        <div  ng-show="selectedEvent" class="widgetDiv">
            <table class="table table-striped dhis2-table-hover table-bordered">
               <tr>
                   <th># {{selectedEvent.eventMembers.length}} </th>
                   <th ng-repeat="attr in associationWidgetAttributes">{{attr.displayName}}</th>
                   <th></th>
               </tr>

                <tbody ng-repeat="TEWise in TEWiseEventTEIs" >
                    <tr><td colspan ="{{associationWidgetAttributes.length+2}}" class="teiHeading"><i>{{TEWise.trackedEntity}}</i></td></tr>
                <tr ng-repeat="TEI in TEWise.TEIList">
                    <td>{{$index+1}}</td>
                    <td ng-repeat="attr in associationWidgetAttributes">{{teiAttributesMap[TEI.trackedEntityInstance][attr.id]}}</td>
                    <!-- for Delete TEI -->
                    <td  ng-click="deleteTrackedEntityInstanceFromEventAssociation(TEI.trackedEntityInstance,selectedEvent)" title="{{'delete'| translate}}">
                        <i class="fa fa-trash-o alert-danger bold"></i>
                    </td>
                </tr>
                </tbody >
            </table>
        </div>
    </div>
</div>
